@import "../../styles/variables";

.container {
  display: flex;

  &__outer {
    padding: 2rem 1rem;
    justify-content: center;
    width: 100%;
  }
}

.image {
  box-shadow: $screen-box-shadow;
  width: 100%;
}
