@import "../../styles/button";

.button {
  @extend .default-button;
  background-image: none;

  &:disabled {
    background-color: var(--ifm-color-gray-300);
    border-color: var(--ifm-color-gray-300);
    color: var(--ifm-color-gray-600);
    cursor: not-allowed;
  }

  &--full-width {
    @extend .button;

    width: 100%;
  }
}
