@import "../../styles/button";

.button {
  @extend .default-button;
  background-image: none;

  &:disabled {
    background-color: var(--ifm-color-gray-300);
    border-color: var(--ifm-color-gray-300);
    color: var(--ifm-color-gray-600);
    cursor: not-allowed;
  }

  &--shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }

  &--full-width {
    @extend .button;
    width: 100%;
  }
}
