@font-face {
  font-family: 'AnonymousPro - Bold';
  font-style: normal;
  font-weight: 600 700;
  font-display: swap;
  src: url('/static/fonts/AnonymousPro/AnonymousPro-Bold.ttf') format('truetype'),
  url('/static/fonts/AnonymousPro/AnonymousPro-Bold.woff2') format('woff2'),
  url('/static/fonts/AnonymousPro/AnonymousPro-Bold.woff') format('woff'),
  url('/static/fonts/AnonymousPro/AnonymousPro-Bold.svg#AnonymousPro-Bold') format('svg');
  }

@font-face {
  font-family: 'AnonymousPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/AnonymousPro/AnonymousPro-Regular.ttf') format('truetype'),
  url('/static/fonts/AnonymousPro/AnonymousPro-Regular.woff2') format('woff2'),
  url('/static/fonts/AnonymousPro/AnonymousPro-Regular.woff') format('woff'),
  url('/static/fonts/AnonymousPro/AnonymousPro-Regular.svg#AnonymousPro-Regular') format('svg');
}

:root {
  // overrides
  --ifm-navbar-background-color: var(--kb-background-color);
  --ifm-navbar-link-color: var(--kb-text-color);
  --ifm-color-content: var(--kb-text-color);
  --ifm-color-primary: #8D029B;
  --ifm-color-primary-dark: #7B0285;
  --ifm-color-primary-darker: #66026F;
  --ifm-color-primary-darkest: #520159;
  --ifm-color-primary-light: #BC03CD;
  --ifm-color-primary-lighter: #E707FB;
  --ifm-color-primary-lightest: #EC39FC;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'AnonymousPro';
  --ifm-heading-font-family: 'AnonymousPro - Bold';

  // custom
  --kb-background-color: var(--ifm-color-white);
  --kb-sub-text-color: rgba(255, 255, 255, 0.64);
  --kb-text-color: #4A5568;
}

[data-theme='dark'] {
  --ifm--navbar-background-color: var(--kb-background-color);
  --ifm-color-primary: #E0B0FF;
  --ifm-color-primary-dark: #C875FF;
  --ifm-color-primary-darker: #AF37FF;
  --ifm-color-primary-darkest: #9500F8;
  --ifm-color-primary-light: #E5BDFF;
  --ifm-color-primary-lighter: #E9C8FF;
  --ifm-color-primary-lightest: #EED3FF;
  --kb-background-color: #1A202C;
  --kb-sub-text-color: #718096;
  --kb-text-color: rgba(255, 255, 255, 0.92);
}
