@import "../../styles/functions";
@import "../../styles/mixins";
@import "../../styles/variables";

.attribution-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  @include mobile-only {
    display: none;
  }
}

.container {
  display: flex;
  flex: 1;
  padding: 2rem 0;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 2rem;
  @include tablet-and-up {
    flex-direction: row;
  }
}

.image {
  box-shadow: $screen-box-shadow;
  @include tablet-and-up {
    max-height: 600px;
  }
}

.image-container {
  align-items: center;
  justify-content: center;
}

.text {
  color: text-color("light");

  &--attribution {
    background-color: #000;
    color: text-color("dark");
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.25rem;
    margin: 0;

    a {
      color: primary-color("dark");
    }
  }

  &--subtitle {
    font-size: 1rem;
    @include tablet-and-up {
      font-size: 1.5rem;
    }
  }

  &--title {
    font-size: 2rem;
    font-weight: 600;
    @include tablet-and-up {
      font-size: 4.5rem;
    }
  }
}

.text-container {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--ifm-navbar-height));
  justify-content: space-between;
  @include tablet-and-up {
    background-image: url("/static/images/header_background.jpeg");
    background-size: cover;
  }
}
