@import "../../styles/functions";
@import "../../styles/mixins";

.header {
  display: flex;
  flex: 1;
  padding: 2rem 0;

  &__attribution {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    width: 100%;
    @include mobile-only {
      display: none;
    }
  }

  &__outer {
    align-items: center;
    background-color: #f4f4f4;
    background-image: url("/static/images/header_background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--ifm-navbar-height));
    justify-content: space-between;
  }
}

.attribution-text {
  background-color: #000;
  color: text-color("dark");
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.25rem;
  margin: 0;

  a {
    color: primary-color("dark");
  }
}
